# Server
HOST=0.0.0.0
PORT=1337


# Secrets
APP_KEYS=change-me,change-me,change-me,change-me
API_TOKEN_SALT=change-me
ADMIN_JWT_SECRET=change-me
JWT_SECRET=change-me
TRANSFER_TOKEN_SALT=change-me
ENCRYPTION_KEY=change-me

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=change-me
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-me
DATABASE_SSL=false